*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-secondary;
  color: $color-text-primary;
  scroll-behavior: smooth;
}
html,
body {
  &._overflow {
    overflow: hidden;
  }
}
a {
  color: $color-white;
  text-decoration: none;
}
li {
  list-style: none;
}
.wrapper {
  background-image: url("./img/bg/main.jpg");
  max-width: 1920px;
  width: 100%;
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
h1 {
  @include text($font-secondary, 700, 96px, 96px, $color-text-primary);
  margin: 0;
}
h2 {
  @include text($font-secondary, 700, 64px, 96px, $color-text-primary);
  margin: 0;
}
h3 {
  @include text($font-secondary, 700, 16px, 24px, $color-neon-blue);
  margin: 0;
}
h4 {
  @include text($font-secondary, 700, 16px, 27px, $color-neon-pink);
  margin: 0;
}
@include md {
  h1 {
    @include text($font-secondary, 700, 69px, 60px, $color-text-primary);
  }
  h2 {
    @include text($font-secondary, 700, 54px, 60px, $color-text-primary);
  }
}
@include sm {
  h1 {
    @include text($font-secondary, 700, 44px, 50px, $color-text-primary);
  }
  h2 {
    @include text($font-secondary, 700, 36px, 40px, $color-text-primary);
  }
}