@mixin text($ff, $fw, $fs, $lh, $color) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $color;
}

// MEDIA QUERIES
@mixin xl {
  @media (max-width: $xl) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $lg) {
    @content;
  }
}

@mixin md {
  @media (max-width: $md) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $sm) {
    @content;
  }
}