$font-primary: 'Lobster Two', cursive;
$font-secondary: "Rubik", sans-serif;

$color-primary: #ed9902;
$color-white: #ffffff;
$color-black: #000000;
$color-neon-pink: #ff71ce;
$color-neon-blue: #01cdfe;
$color-neon-green: #05ffa1;
$color-neon-purple: #b967ff;
$color-neon-yellow: #fffb96;
$color-text-primary: hsl(0, 0%, 80%);
$color-border: #707070;
$color-bg: rgba(0, 0, 0, 0.5);


$transition: 0.2s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
