.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    border-bottom: 1px solid $color-border;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $color-bg;
    &__logo {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
        animation: float 4s ease-in-out infinite;
        img { 
            width: 100%; 
            height: auto; 
        }
    }
    &__logo-icon {
        max-width: 36px;
        border-radius: 50%;
        margin-right: 10px;
        box-shadow: 3px 0 3px $color-black;
    }
    &__logo-text {
        @include text($font-primary, 700, 28px, 33px, $color-white);
        text-shadow: 3px 0 3px $color-neon-purple;
        span {
            text-shadow: 3px 0 3px $color-neon-pink;
        }
    }
    &__burger {
        display: none;
        @include desktop-small {
            display: block;
        }
    }
}
.header-nav {
    .material-icons {
        color: $color-white;
        display: none;
        @include desktop-small {
            display: block;
            position: absolute;
            top: 40px;
            right: 20px;
        }
    }
    &__ul {
        padding: 0;
        display: flex;
        align-items: center;
        gap: 24px;
    }
    &__a {
        @include text($font-secondary, 400, 16px, 19px, $color-primary);
        transition: $transition;
        padding: 10px 30px;
        @include desktop-small {
            color: $color-white;
        }
        &:hover {
            color: $color-black;
        }
    }
    @include desktop-small {
        position: fixed;
        z-index: 4;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        transform: translateX(-150%);
        transition: $transition;
        .header-nav__ul {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            gap: 40px;
        }
        .header-nav__a {
            font-size: 18px;
        }
    }
    &._active {
        transform: translateX(0);
    }
}
/*nav-hover*/
._active:hover{
    box-shadow: $color-black 0px -23px 25px 0px inset, $color-black 0px -36px 30px 0px inset, $color-black 0px -79px 40px 0px inset, $color-black 0px 2px 1px, $color-black 0px 4px 2px, $color-black 0px 8px 4px, $color-black 0px 16px 8px, $color-black 0px 32px 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
._yellow:hover{
    box-shadow: $color-neon-yellow 0px -23px 25px 0px inset, $color-neon-yellow 0px -36px 30px 0px inset, $color-neon-yellow 0px -79px 40px 0px inset, $color-neon-yellow 0px 2px 1px, $color-neon-yellow 0px 4px 2px, $color-neon-yellow 0px 8px 4px, $color-neon-yellow 0px 16px 8px, $color-neon-yellow 0px 32px 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
._purple:hover{
    box-shadow: $color-neon-purple 0px -23px 25px 0px inset, $color-neon-purple 0px -36px 30px 0px inset, $color-neon-purple 0px -79px 40px 0px inset, $color-neon-purple 0px 2px 1px, $color-neon-purple 0px 4px 2px, $color-neon-purple 0px 8px 4px, $color-neon-purple 0px 16px 8px, $color-neon-purple 0px 32px 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
._green:hover{
    box-shadow: $color-neon-green 0px -23px 25px 0px inset, $color-neon-green 0px -36px 30px 0px inset, $color-neon-green 0px -79px 40px 0px inset, $color-neon-green 0px 2px 1px, $color-neon-green 0px 4px 2px, $color-neon-green 0px 8px 4px, $color-neon-green 0px 16px 8px, $color-neon-green 0px 32px 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
._pink:hover{
    box-shadow: $color-neon-pink 0px -23px 25px 0px inset, $color-neon-pink 0px -36px 30px 0px inset, $color-neon-pink 0px -79px 40px 0px inset, $color-neon-pink 0px 2px 1px, $color-neon-pink 0px 4px 2px, $color-neon-pink 0px 8px 4px, $color-neon-pink 0px 16px 8px, $color-neon-pink 0px 32px 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(10px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-10px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(10px);
    }
  }