.projects {
  width: 100%;
  height: 130vh;
  background-image: url("../img/bg/projects.jpg");
  background-size: 1920px;
  &__title {
    padding-left: 130px;
    padding-top: 50px;
    margin-bottom: 30px;
    span {
      color: $color-neon-green
    }
  }
  &__block {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
      max-height: 250px;
    }
  }
  &__block-js { /* <768px */
    display: none;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    img {
    max-height: 250px;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    @include text($font-secondary, 700, 18px, 27px, $color-neon-green);
    cursor: pointer;
    padding: 10px 30px;
    position: relative;
    width: 99%;
    animation: wiggle 3s linear infinite;
    &::after {
      position: absolute;
      content: "";
      width: 200px;
      height: 100px;
      border-bottom: 2px solid $color-neon-green;
      left: 43%;
      top: -55px;
    }
  }
}
.preview {
  padding: 10px;
  width: 368px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-bg;
  border-radius: 20px;
  position: relative;
  &:hover {
    .overlay {
      transition: all 0.5s;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 20px;
      backdrop-filter: blur(8px) brightness(80%);
      border-radius: 20px;
      position: absolute;
    }
    .projects-block__link {
      transition: all 0.5s;
      display: flex;
      width: 129px;
    }
  }
}
.overlay {
  display: none;
  text-align: center;
}
.projects-block {
  &__desc {
    @include text($font-secondary, 400, 14px, 21px, $color-primary);
    width: 80%;
  }
  &__link {
    padding: 10px 32px;
    background: $color-neon-green;
    border-radius: 24px;
    border: 1px solid transparent;
    justify-content: center;
    &:hover {
      filter: brightness(90%);
      border: 1px solid $color-black;
    }
  }
}
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
@include xl {
  .projects {
    height: 140vh;
    &__block {
      flex: 0 1 50%;
    }
    &__link {
      &::after {
        left: 40%;
        top: -55px;
      }
    }
  }
}
@include lg {
  .projects {
    height: 180vh;
    &__container {
      padding: 50px 0;
    }
    &__link {
      &::after {
        left: 37.3%;
        top: -55px;
      }
    }
    &__title {
      padding-left: 80px;
    }
  }
}
@include md {
  .projects {
    height: 100vh;
    &__block {
      display: none;
    }
    &__block-js {
      display: block;
    }
    &__link {
      &::after {
        left: 32.3%;
        top: -55px;
      }
    }
    &__title {
      margin-top: 50px;
    }
  }
  .owl-carousel {
    display: flex;
    justify-content: center;
  }
  .owl-dots {
    display: none;
  }
  .preview {
    width: 95%;
    margin-left: 15px;
  }
}
@include sm {
  .projects {
    &__container {
      margin-top: 50px;
    }
    &__title {
      padding: 0;
      text-align: center;
    }
    &__link {
      &::after {
        left: 23.3%;
        top: -55px;
      }
    }
  }
}